<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: bisque;">
    <center>
        <h1>VTS Private Ltd</h1>
        <table border="1">
            <tr>
                <th>Department</th>
                <th>No of Workers</th>
            </tr>

            <tr>
                <td>
                    Design
                </td>
                <td>10</td>
            </tr>
            <tr><td>Testing</td><td>24</td></tr>
            
        </table>
    </center>
    
    
</body>
</html>